/*General Rules*/

html {
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.3;
  margin: 0 auto;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/CWB0XYA8bzo0kSThX0UTuA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v18/RxZJdnzeo3R5zSexge8UUVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/d-6IYplOFocCacKzxwXSOFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/*Header*/

header {
  display: flex;
  z-index: 1;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  width: 97%;
  top: 0;
  padding: 0 1.5rem;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(216, 216, 216);
}

.logo {
  display: flex;
  align-items: center;
  height: 2rem;
  font-weight: 700;
  font-size: 1.25rem;
  color: rgb(60, 60, 60)
}

.logo img {
  height: 100%;
}

.logo span {
  color: rgb(216, 216, 216);
}

nav {
  display: flex;
  text-align: right;
  flex-grow: 1;
}

.nav span a {
  padding-left: 1.5rem;
  font-weight: 700;
  color: rgb(60, 60, 60);
  text-decoration: none;
}

/*Main Content*/
/*Start Banner Section*/

.start-banner {
  display: flex;
  align-items: center;
  position: relative;
  top: 4rem;
  background-color: rgb(216, 216, 216);
  width: 100%;
}

.start-banner-img {
  width: 60%;
  padding: 2rem 1.5rem;
  overflow: hidden;
}

.start-banner img {
  width: 100%;
}

.start-text {
  justify-content: center;
  width: 30%;
}

.start-text h1 {
  font-size: 3rem;
  padding-top: 2rem;
  font-weight: 700;
  color: rgb(60, 60, 60);
}

.start-text h2 {
  font-size: 2rem;
  padding: 1.5rem 0;
  font-weight: 500;
  color: rgb(60, 60, 60);
}

.start-button {
  padding: 0.5rem 0;
  margin: 2rem 0;
  width: 85%;
  text-align: center;
  background-color: rgb(60, 60, 60);
  transition: all 1s ease-in-out 0.25s;
}

.start-button:hover {
  background-color: rgb(74, 143, 225);
}

.start-button a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    font-weight: 500;
    transition: all 1s ease-in-out 0.25s;
}

.start-button a:hover {
  font-size: 3rem;
  font-weight: 900;
}

/*Articles Section*/

.articles {
  display: flex;
  width: 100%;
  margin-top: 4rem;
}

.main-article {
  width: 60%;
  padding: 2rem 1.5rem;
}

.main-article img {
  width: 100%;
}

.quote-text {
  color: rgb(60, 60, 60);
}

.quote-text h1 {
  padding-top: 2rem;
  font-size: 3rem;
  font-weight: 700;
}

.quote-text h3 {
  padding: 1.5rem 0;
  font-size: 1.25rem;
  line-height: 1.75;
}

.side-articles {
  display: flex;
  flex-direction: column;
  width: 40%;
  border-left: 1px solid rgb(216, 216, 216);
}

.articles .side-articles {
  padding-top: 1rem;
}

.side-article {
  display: flex;
  align-items: center;
  margin: 0;
  border-bottom: 1px solid rgb(216, 216, 216);
  transition: background-color 1s ease-in-out 0s;
}

.side-article:hover {
  background-color: rgb(216, 216, 216);
}

.desktop-image {
  max-width: 35%;
  height: auto;
  margin: 1rem;
  overflow: hidden;
}

.desktop-image img {
  width: 100%;
}

.mobile-image {
  display: none;
}

.side-text {
  width: 65%;
  padding-right: 1rem;
}

.side-text h2 {
  font-size: 2.25rem;
  font-weight: 500;
  color: rgb(60, 60, 60);
}

.side-text p {
  font-size: 1.25rem;
  color: rgb(60, 60, 60);
  padding-top: 0.5rem;
  line-height: 1.5;
}

.side-text p a {
  text-decoration: none;
  color: rgb(74, 143, 225);
}

/*Start Learning Section*/

.start-learning {
  display: flex;
  display: block;
  padding: 0 4.5rem;
  text-align: center;
  background-color: rgb(216, 216, 216);
}

.start-learning h1 {
  font-size: 3rem;
  padding-top: 2rem;
  font-weight: 700;
  color: rgb(60, 60, 60);
}

.study-areas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem 0;
  width: 100%;
  text-align: left;
}

.course {
  width: 31.5%;
  background-color: white;
  margin-bottom: 2rem;
}

.course img {
  width: 100%;
}

.course-text {
  padding: 1rem 1rem 1.5rem 1rem;
}

.course-text h5 {
  font-size: 1.75rem;
  font-weight: 500;
  color: rgb(60, 60, 60);
}

.course-text p {
  font-size: 1.25rem;
  padding-top: 0.5rem;
  line-height: 1.5;
  color: rgb(60, 60, 60);
}

/*Thesis Section*/

.thesis-exhibit {
  display: flex;
  display: block;
  width: 100%;
}

.thesis-exhibit h1 {
  text-align: center;
  font-size: 3rem;
  padding-top: 2rem;
  font-weight: 700;
  color: rgb(60, 60, 60);
}

.thesis-articles {
  display: flex;
  padding-top: 2rem;
  color: rgb(60, 60, 60);
}

.thesis-video {
  width: 60%;
  padding: 0 2rem;
}

.thesis-video video {
  width: 100%;
  border: 1px solid rgb(216, 216, 216);
}

.video-text {
  display: block;
  padding: 1.5rem 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.thesis-video h2 {
  font-size: 1.75rem;
  font-weight: 700;
}

.thesis-video p {
  padding: 0.5rem 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.side-text h2 a {
  text-decoration: none;
  color: rgb(60, 60, 60);
}

.side-text h2 a:hover {
  color: rgb(74, 143, 225);
}

/*Footer*/
footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  border-top: 1px solid rgb(216, 216, 216);
}

.footer-right span {
  padding-left: 1.5rem;
}

.footer-right span a {
  font-weight: 700;
  color: rgb(60, 60, 60);
  text-decoration: none;
}
